body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px 28px;  /* mais espaço horizontal */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}


h1 {
  color: #1e90ff;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1e90ff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #187bcd;
}

p {
  text-align: left;
  background: #f5faff;
  padding: 8px;
  border-radius: 6px;
  margin: 6px 0;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}

#Total {
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 100%;
}

